{% extends 'layouts/new_base.html' %}
{% load static %}
{% load filters %}
{% block additional_styles %}

{% endblock %}

{% block content %}
{#    <div class="app-title">#}
{#        <div>#}
{#          <h1><i class="fa fa-dashboard"></i> Dashboard</h1>#}
{#            <h2>Welcome, <strong> {{request.user.username}} </strong></h2>#}
{#          <p></p>#}
{#        </div>#}
{#        <ul class="app-breadcrumb breadcrumb">#}
{#          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>#}
{#          <li class="breadcrumb-item"><a href="#">Contact Groups</a></li>#}
{#        </ul>#}
{#      </div>#}
    <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-title-w-btn">
              <h3 class="title">Houses</h3>
              <p> <a class="btn btn-primary icon-btn" href="{% url 'sms:water_court_allocations' %}"><i class="fa fa-minues"></i></a></p>
              <p>
                  {% if customer.id == 342 %}
                      <a class="btn btn-primary icon-btn" href="{% url 'sms:st_ann_add_patient' %}"><i class="fa fa-plus"></i>Add Patient</a>
                  {% endif %}
                  <a class="btn btn-primary icon-btn" href="{% url 'sms:create_teule_house' %}"><i class="fa fa-plus"></i>Add House</a>
              </p>
            </div>
            <div class="tile-body table-responsive">
                <table class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                    <tr>
                        <th>House Number</th>
                        <th>Flat Name</th>
                        <th>Monthly Rent</th>
                        <th>Occupied Status</th>
                        <th>Occupied by</th>
                        <th>Contact</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for house in houses %}
                    
                    <tr>

                        
                        <td>{{ house.house_number }}</td>
                        <td>{{ house.flat.name }}</td>
                        <td>{{ house.monthly_rent}}</td>
                        <td>{{ house.occupied_status}}</td>
                        <td>{{ house.occupied_by.name }}</td>
                        <td>{{ house.occupied_by.msisdn }}</td>
                         <td>
                            <div class="btn-group">
                                <a class="btn btn-outline-warning" href="{% url 'sms:edit_teule_house' house.id %}"><i class="fa fa-lg fa-edit"></i>Edit</a>
                                <button class="btn btn-outline-danger" style="margin-left: 2px"  onclick="confirm({{ network.id }})"><i class="fa fa-lg fa-trash"></i>Delete</button>
                            </div>
                            </td>



                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
          </div>
        </div>
    </div>
{% endblock %}

